body, html {
    height: 100%;
  }
.bg {
/* The image used */
background-image: url("../img/frontPic.jpg");

/* Full height */
height: 100%;

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.logo {
    text-align: center;
    font-size: 90px;
    color: rgb(255, 255, 255);
}

.nav-btn {
    font-size: 19px;
   -webkit-text-fill-color: rgb(255, 255, 255);
}